---
# - - - #
# INPUT includes information about the Article table that used for enews
INPUT:
  database:
    HOST: {{host}}
    PORT: {{port}} 
    DBNAME: {{name of the database}}
    USERNAME: {{username}}
    PASSWORD: {{password}}
  table_name: {{tbname}}
  content_column_name: {{name of the column}}
# - - - #
# OUTPUT includes information about the database that stores outputs of enews
OUTPUT:
  database:
    HOST: {{host}}
    PORT: {{port}} 
    DBNAME: {{name of the database}}
    USERNAME: {{username}}
    PASSWORD: {{password}}
  table_name: {{tbname}}
  content_column_name: {{name of the column}}

